# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/2f1c127d9f6293a74bd052f2c516c77a6713fa7f-DDhI70-_.webp
src/assets/2f1c127d9f6293a74bd052f2c516c77a6713fa7f.webp
src/assets/43676d15934fc50bdda59d3e39fd8a4ceaadcb9e-Rpx5ZY2j.webp
src/assets/60be109ca830b1d8ab92f161cd0ca3083a16e4ca-B0hMvy0v.webp